<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Blood</servlet-name>
        <servlet-class>org.cbc.HeartMonitor</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>Spend</servlet-name>
        <servlet-class>org.cbc.RecordSpend</servlet-class>
    </servlet>  
    <servlet>
        <servlet-name>Energy</servlet-name>
        <servlet-class>org.cbc.RecordEnergy</servlet-class>
    </servlet> 
    <servlet>
        <servlet-name>Nutrition</servlet-name>
        <servlet-class>org.cbc.RecordNutrition</servlet-class>
    </servlet> 
    <servlet>
        <servlet-name>BankTransaction</servlet-name>
        <servlet-class>org.cbc.RecordBankTransaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarUsage</servlet-name>
        <servlet-class>org.cbc.CarUsage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reminder</servlet-name>
        <servlet-class>org.cbc.RecordReminder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Blood</servlet-name>
        <url-pattern>/Record</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Spend</servlet-name>
        <url-pattern>/Spend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Energy</servlet-name>
        <url-pattern>/Energy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Nutrition</servlet-name>
        <url-pattern>/Nutrition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BankTransaction</servlet-name>
        <url-pattern>/BankTransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarUsage</servlet-name>
        <url-pattern>/CarUsage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reminder</servlet-name>
        <url-pattern>/Reminder</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Index.html</welcome-file>
    </welcome-file-list>
</web-app>
