
.alertcontainer {
    padding: 5px 5px 5px 5px;
    background-color:#f3f3f3;
    border-style: solid;
    border-color: black;
    border-radius:3px;
    text-align: center;
}
#alertDebug {
    display:    inline-block;
    width:      379px;
    text-align: left;
}
#alertDebug label{
    display:    inline-block;
    width:      130px;
    text-align: right;
}
#alertDebug input {
    display:    inline-block;
    width:      60px;
}

#alertDebug .nogap{
    display:    inline-block;
    width:      auto;
    text-align: right;
}
#alertDebug.hidden {
    display: none;
}