#alertdiv {
    width: max-content;
    height: fit-content;
    padding: 5px 5px 5px 5px;
    background-color:#f3f3f3;
    border-style: solid;
    border-color: black;
    border-radius:3px;
    text-align: center;
}
#alertdivx {
    position: absolute;
    padding: 5px 5px 5px 5px;
    background-color:#f3f3f3;
    border-style: solid;
    border-color: black;
    border-radius:3px;
    text-align: center;
}
.centered-rel-xy {
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
}
.centered-abs-xy {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
}
/*
 * Override global label properties
 */
#alertdiv label {    
    width:auto;
    text-align: center;
}
#alertDebug {
    display:    inline-block;
    width:      379px;
    text-align: left;
}
#alertDebug label{
    display:    inline-block;
    width:      130px;
    text-align: right;
}
#alertDebug input {
    display:    inline-block;
    width:      60px;
}

#alertDebug .nogap{
    display:    inline-block;
    width:      auto;
    text-align: right;
}
#alertDebug.hidden {
    display: none;
}
#alertDismiss{
    padding:10px 10px 10px 10px;
}
#trmoveid input {
    width: 100px;
}