/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-Mar-2015, 20:53:07
    Author     : Chris
*/
.prglabwidth {
    width: 150px;
}
.inputwidth {
    width: 100px;
}
.largelab {
    width: 128px;
}
#endfields label {
    width: 114px;
}
/*
    Don't know why have to include following rather than rely on .nogap in framework.css.
*/
#endfields .nogap {    
    display: inline-block;
    width: auto;
}
#sessionlogtable {
    border-spacing: 3px;
}