/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-Nov-2014, 08:43:31
    Author     : Chris
*/
body {
    margin: auto;
    width: fit-content;
}
textarea {
    vertical-align: top;
}
@media screen and (max-width: 900px) {
    .optional {
        display: none;
    }
    .floatleft {
        float: none;
        width: inherit;
        margin: inherit;
    }
}
@media screen and (min-width: 901px) {
    .floatleft{
        float: left;
    }
} 
#appframe {
    display : inline-grid;
}
.innerfields{
    margin: auto;
    width: max-content
} 
.filter {
    width: max-content;
}
.fitcontent {
    width: fit-content;
    height: fit-content;
}
.centreminwidth {
    margin: auto;
    width: max-content;
    height: max-content;
}
.centredtext {
    text-align: center;
}
.centered-rel-xy {
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
}
.centered-abs-xy {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
}
.frame {
    margin-right: auto;
    margin-left: auto;
    background-color: gold
}
.frame h1 {
    background-color: greenyellow;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.form {
    background-color: antiquewhite;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid;
    padding-top: 10px;
    padding-bottom: 10px
}
.noborder {
    border: none;
}
.centre {
    margin: auto;
    text-align: center
}
.left {
    margin: auto;
    text-align: left
}
.colall {
    width: 100%;
}
label {
    display: inline-block;
    width: 85px;
    text-align: right;
}
.largelab {
    width: 120px;
}
.nogap {    
    display: inline-block;
    width: auto;
}
.gap10al {    
    display: inline-block;
    width: 10px;
    text-align: left;
}
.gap61ar {    
    display: inline-block;
    width: 61px;
    text-align: right;
}
.gap70ar {    
    display: inline-block;
    width: 70px;
    text-align: right;
}
.gap71ar {    
    display: inline-block;
    width: 71px;
    text-align: right;
}
.gap106ar {    
    display: inline-block;
    width: 106px;
    text-align: right;
}
.gap110ar {    
    display: inline-block;
    width: 110px;
    text-align: right;
}
.gap116ar {    
    display: inline-block;
    width: 116px;
    text-align: right;
}
th {
    text-align: left;                
}
td {
    text-align: left;
}
th.number, td.number {
    text-align: right;                
}
.moneyvalue {
    text-align: right;
    width: 4.5em;
}
div.scrollWrapper{
    height: 300px;
    overflow:auto;
}
table {
    table-layout: fixed;
    margin: auto;
    border-spacing: 4px;
    background-color: lightpink;
}
iframe {
    border-style: none;
}
thead {
    display: block;
}
tbody.scroll {
    display: block;
    border: solid;
    height: 300px;
    overflow-y: scroll;
}
table.scroll {
    display: block;
    border: solid;
    height: 300px;
    overflow-y: scroll;
}
table.scroll > thead {
    background-color: lightpink;
    position:  sticky;
    top: 0;
}
input {
    color:#08233e;
    background-color: buttonface;
    border:1px solid #ffcc00;
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
input[type="button"] {
    -webkit-border-radius:10px;
    border-radius:10px;
    border-bottom:1px solid #9f9f9f;
    -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    cursor: pointer;
    white-space:normal;
    text-align:center;
}
input[readonly] {    
    border-style: none;
    background-color: transparent
}
input[type="button"]:hover {
    background-color:rgba(255,204,0,0.8);
}
select.optlist {
    border: 1px solid #ccc;
}
.date {
    width: 6em;
}
.time {
    width: 4em;
}
.datetime {
    width: 10em;
}