/* 
    Created on : 28-Mar-2015, 16:03:41
    Author     : Chris
*/
/*
 * When using an iframe a width and height is calculate. There does not seem to be a way to get it to make
 * the calculated values to be large enough to cover the max frame content size.
 * Using the following forces the calculated value to this. However, it will have to ve changed if login form
 * exceeds this.
 */
#loginform {
    width: 480px;
}
#loginform .nogap {
    width: auto;
}
#loginform label {
    display: inline-block;
    width: 150px;
    text-align: right;
}
#loginform input {
    background-color: white;
}