/* 
    Created on : 28-Mar-2015, 16:03:41
    Author     : Chris
*/

#loginfields {
    width: 450px;
}
#loginfields .nogap {
    width: auto;
}
#loginfields label {
    display: inline-block;
    width: 150px;
    text-align: right;
}
#loginfields input {
    background-color: white;
}