
@media screen and (max-width: 900px) {
    .colleft {
        margin: auto;
        float: none;
    }
}  
#innerfields {
    width: 550px;
    margin: auto;
}
#category, #type {
    width: 8.7em;
}
#history tr *:nth-child(1), tr *:nth-child(8), tr *:nth-child(10) {
    display: none;
}
#summaryfields label {
    width: 95px
}