/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-Mar-2015, 14:50:54
    Author     : Chris
*/
body.iefix {
    margin: auto;
    width: 1000px;
}
#accounts > tbody {
    height: 280px;
}
#transactions [name='Timestamp'] {
    width: 9em !important;
}
#transactions [name='Amount'] {
    width: 4em !important;
}
#primaryaccount .nogap, #secondaryaccount .feegap {
    width : 60px;
}
#transactions [name='Line'], #transactions [name='Completed'], #transactions [name='Number'], #transactions [name='Card'], #transactions [name='AmountFull'], #transactions [name='FeeFull'], #transactions [name='Address'] {
    display: none;
}
#exchangerate .narrowlabel {
    width : 60px;
}
@media screen and (max-width: 900px) {
    #accounts > tbody {
        height: 100px;
    }
    #transactions [name='TXN Id'], #transactions [name='Weekday'], #transactions [name='Type'], #transactions [name='Fee'] {
        display: none;
    }
    #detailfields.iefix {
        width: 320px;
        margin: auto;
    }
    #filter.iefix {
        width: 300px;
        margin: auto;
    }
} 
@media screen and (min-width: 901px) {
    #transactions.iefix {
        float: left;
        margin: 40px;
    }
} 
/*
 * This is to test override of the default log in screen settings. This overrides the rule in login.css.
 */
#loginframe {
    width:  700px !important;
    height: 700px !important;
    border-style: solid;
    background-color: aliceblue;
}