/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-Mar-2015, 14:50:54
    Author     : Chris
*/

#accounts > tbody {
    height: 280px;
}
#transactions [name='Timestamp'] {
    width: 9em !important;
}
#transactions [name='Amount'] {
    width: 4em !important;
}
#primaryaccount .nogap, #secondaryaccount .feegap {
    width : 60px;
}
#transactions [name='TXNId'], #transactions [name='TXNDescription'], #transactions [name='Line'], #transactions [name='Completed'], #transactions [name='Number'], #transactions [name='Card'], #transactions [name='AmountFull'], #transactions [name='FeeFull'], #transactions [name='Address'] {
    display: none;
}
#exchangerate .narrowlabel {
    width : 60px;
}
@media screen and (max-width: 900px) {
    #accounts > tbody {
        height: 100px;
    }
    #transactions [name='TXN Id'], #transactions [name='Weekday'], #transactions [name='Type'], #transactions [name='Fee'] {
        display: none;
    }
} 