
@media screen and (max-width: 900px) {
    .colright {
        width: 0px;
    }
    #innerfields {
        width: 340px;
    }
}
@media screen and (min-width: 901px) {
    .colright {
        width: 498px;
    }
    #innerfields {
        width: 840px;
    }
}    
.colleft {
    width: 340px
}
#innerfields {
    margin: auto;
}
#accounts > tbody {
    height: 220px;
}
#accounts .tbcol3 {
    width:    6em    !important;
    overflow: hidden !important;
}

#transactions .tbcol2 {
    width: 9em !important;
}
#transactions .tbcol8 {
    width: 2em !important;
}
#transactions .tbcol9 {
    width: 2em !important;
}
#transactions .tbcol10 {
    width: 4em !important;
}
#transactions .tbcol11 {
    width: 3.9em !important;
}
#primaryaccount .nogap {
    width : 60px;
}
#transactions .tbcol1, #transactions .tbcol4, #transactions .tbcol5, #transactions .tbcol6 {
    display: none;
}
/*
#transactions th:nth-child(1), #transactions th:nth-child(4), #transactions th:nth-child(5), #transactions th:nth-child(6) {
    display: none;
}
#transactions td:nth-child(1), #transactions td:nth-child(4), #transactions td:nth-child(5), #transactions td:nth-child(6) {
    display: none;
}
*/