/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-Nov-2014, 08:48:54
    Author     : Chris
*/
 
#updateitem {
    width: 550px;
}
input[onkeypress^='allowedInNumberField'] {
    width: 40px;
}
#itemdetailstable tr *:nth-child(2), #itemdetailstable tr *:nth-child(6) {
    display: none;
}
#eventhistorytable tr *:nth-child(4) {
    display: none;
}
#createfields, #clonefields {
    width: 340px;
    margin: auto
}
#activeeventtablebody {
    height: 80px;
}
#addItem, #removeItem, #cancelItem {
    white-space:normal;
    text-align:center;
    width:55px;
}