body.iefix {
    margin: auto;
    width: 800px;
}
#category, #type {
    width: 8.7em;
}
#history [name='SeqNo'], #history [name='Payment'], #history [name='Period'], #history [name='Correction'] {
    display: none;
}
#summaryfields label {
    width: 95px
}
/*
 * resizeFrame seemed to set height OK, but the width was too short. Use this work around while trying
 * to find a better solution.
 */
#filterframe {
    width: 375px;
}