/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-Nov-2014, 08:48:54
    Author     : Chris
*/
#fsource {
    width: 120px;
}
#updateitem {
    width: 550px;
}
input[onkeypress^='allowedInNumberField'], .number {
    width: 40px;
}
#isource {
    width: 120px;   
}
#itemdetailstable [name='ABV'], #itemdetailstable [name='IsVolume'], #itemdetailstable [name='DefaultSize'], #itemdetailstable [name='Protein'], #itemdetailstable [name='Fat'], #itemdetailstable [name='Carbohydrate'] {
    display: none;
}
#activeeventtable [name='Simple'], #activeeventtable [name='IsVolume'], #activeeventtable [name='Protein'], #activeeventtable [name='Fat'], #activeeventtable [name='Carbohydrate'] {
    display: none;
}
#eventhistorytable [name='Comment'] {
    display: none;
}
#createfields, #clonefields {
    width: 340px;
    margin: auto
}
#activeeventtablebody {
    height: 80px;
}
#addItem, #removeItem, #cancelItem {
    white-space:normal;
    text-align:center;
    width:55px;
}
